.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.search_main{
	border-top: 1px solid #00000010;
	width: 750rpx;
	border-bottom: 1px solid #00000010;
	position: fixed;
	z-index: 501;
	top: 0;
	background-color: #fff;
}
.video_list{
	width: 730rpx;
	display: flex;
	flex-direction: row;
	padding: 10rpx;
	border-bottom: 1px solid #00000010;
}
.video_list image{
	border-radius: 20rpx;
	width: 300rpx;
	height: 180rpx;
	margin-right: 20rpx;
}
.video_info{
	width: 390rpx;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.keyword{
	color: #20b0e3;
	font-style: normal;
}
rich-text{
	font-size: 14px;
	font-weight: bold;
}

.up_main text{
	font-size: 14px;
	color: gray;
}
.video_in{
	display: flex;
	flex-direction: row;
	color: gray;
}

.hotwords{
	width: 710rpx;
}
.allHW{
	margin-top: 20rpx;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.hotword{
	background-color: #00000010;
	padding: 10rpx 15rpx 10rpx 15rpx;
	border-radius: 10rpx;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 20rpx;
	margin-bottom: 20rpx;
	display: flex;
	flex-direction: row;
	height: 45rpx;
	line-height: 45rpx;
}
.hotword image{
	max-width: 20px;
	max-height: 20px;
	margin-right: 10rpx;
}

.system_bar{
	width: 750px;
	background-color: white;
	position: fixed;
	z-index: 520;
	top: 0;
}

.allHisW{
	max-height: 320rpx;
	overflow: hidden;
}
.clear_btn{
	width: 670rpx;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 20rpx;
	border-radius: 10rpx;
	color: #aaa;
}
.clear_btn:active{
	background-color: #00000010;
}
.his_word{
	margin-top: 30rpx;
}