.content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.player{
	width: 750rpx;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
video{
	width: 750rpx;
	height: 422rpx;
	position: fixed;
	z-index: 10;
}

.owner{
	width: 750rpx;
	display: flex;
	flex-direction: row;
}
.owner image{
	margin-left: 20rpx;
	width: 80rpx;
	height: 80rpx;
	border-radius: 40rpx;
}
.owner_text{
	margin-left: 20rpx;
	width: 570rpx;
	display: flex;
	flex-direction: column;
}
.ownm{
	font-weight: bold;
}
.danmu_main{
	display: flex;
	flex-direction: row;
	width: 750rpx;
	position: fixed;
	z-index: 10;
}
.danmu_main input{
	background-color: #f5f5f5;
	padding: 15rpx;
	flex: 1;
	height: auto;
}
.send{
	background-color: #20b0e3;
	width: 80rpx;
	height: 80rpx;
	text-align: center;
	line-height: 80rpx;
}
.send:active{
	background-color: #1783a7;
}

.fe_bar{
	width: 750rpx;
	display: flex;
	flex-direction: row;
	margin-top: 10rpx;
	border-bottom: 1px solid #00000010;
	justify-content: center;
}
.fe{
	margin: 7px 50rpx 12px 50rpx;
}

.keyword{
	font-style: normal;
}

.video_list{
	width: 730rpx;
	display: flex;
	flex-direction: row;
	padding: 10rpx;
	border-bottom: 1px solid #00000010;
}
.video_list image{
	border-radius: 20rpx;
	width: 300rpx;
	height: 180rpx;
	margin-right: 20rpx;
}
.video_info{
	width: 390rpx;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.video_title{
	font-size: 14px;
	font-weight: bold;
}

.up_main text{
	font-size: 14px;
	color: gray;
}
.video_in{
	display: flex;
	flex-direction: row;
	color: gray;
}

.vd_info{
	display: flex;
	flex-direction: row;
	color: gray;
	width: 750rpx;
	padding-bottom: 20rpx;
	border-bottom: 1px solid #00000010;
	justify-content: center;
}
.system_bar{
	width: 750px;
	background-color: black;
	position: fixed;
	z-index: 520;
	top: 0;
}
.title_bar{
	width: 750rpx;
	height: 20px;
	padding: 5px;
	line-height: 40rpx;
	text-align: center;
	position: fixed;
	background-color: black;
	color: white;
	z-index: 520;
	overflow: hidden;
	-webkit-line-clamp: 1;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.vat{
	position: fixed;
	z-index: 520;
	height: 40px;
	border-bottom: 1px solid #00000010;
	border-top: 1px solid #00000010;
	width: 750rpx;
	display: flex;
	line-height: 40px;
	align-items: center;
	justify-content: center;
	background-color: white;
}
.vt{
	margin: 0px 40px 0px 40px;
	font-weight: bold;
}

.va{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.taa{
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #00000010;
	padding-bottom: 20rpx;
	margin-bottom: 20rpx;
}
.paName{
	font-weight: bold;
}
.aimg{
	margin-left: 20rpx;
	width: 80rpx;
	height: 80rpx;
	border-radius: 40rpx;
	margin-right: 20rpx;
}
.imgAPa{
	width: 610rpx;
}
.ctime{
	font-size: 25rpx;
	color: gray;
}
.owntime{
	margin-top: 5rpx;
	font-size: 23rpx;
	color: gray;
}

.like_icon{
	margin-right: 10rpx;
}
.likes{
	color: gray;
}