.content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.player{
	width: 750rpx;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
video{
	width: 750rpx;
	height: 422rpx;
	position: fixed;
	z-index: 10;
}

.owner{
	width: 690rpx;
	display: flex;
	flex-direction: row;
}
.vd_main{
	box-shadow: 0px 0px 15px #00000015;
	border-radius: 20rpx;
	padding-top: 20rpx;
	padding-right: 20rpx;
}
.owner image{
	margin-left: 20rpx;
	width: 80rpx;
	height: 80rpx;
	border-radius: 40rpx;
}
.owner_text{
	margin-left: 20rpx;
	width: 550rpx;
	display: flex;
	flex-direction: column;
}
.ownm{
	font-weight: bold;
}
.danmu_main{
	display: flex;
	flex-direction: row;
	width: 750rpx;
	position: fixed;
	z-index: 522;
}
.danmu_main input{
	background-color: #f5f5f5;
	padding: 15rpx;
	flex: 1;
	height: auto;
}
.send{
	background-color: #20b0e3;
	width: 80rpx;
	height: 80rpx;
	text-align: center;
	line-height: 80rpx;
}
.send:active{
	background-color: #1783a7;
}

.fe_bar{
	width: 710rpx;
	display: flex;
	flex-direction: row;
	margin-top: 20rpx;
	margin-bottom: 20rpx;
	box-shadow: 0px 0px 15px #00000015;
	justify-content: center;
	border-radius: 20rpx;
}
.fe{
	margin: 10px 50rpx 10px 50rpx;
}

.keyword{
	font-style: normal;
}

.video_list{
	width: 670rpx;
	display: flex;
	flex-direction: row;
	padding: 20rpx;
	box-shadow: 0px 0px 15px #00000015;
	margin-bottom: 20rpx;
	border-radius: 20rpx;
}
.video_list image{
	border-radius: 16rpx;
	width: 300rpx;
	height: 180rpx;
	margin-right: 20rpx;
}
.video_info{
	width: 390rpx;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.video_title{
	font-size: 14px;
	font-weight: bold;
}

.up_main text{
	font-size: 14px;
	color: gray;
}
.video_in{
	display: flex;
	flex-direction: row;
	color: gray;
}

.vd_info{
	display: flex;
	flex-direction: row;
	color: gray;
	width: 690rpx;
	padding-bottom: 20rpx;
	justify-content: center;
}
.system_bar{
	width: 750px;
	background-color: black;
	position: fixed;
	z-index: 520;
	top: 0;
}
.title_bar{
	width: 750rpx;
	height: 20px;
	padding: 5px;
	line-height: 40rpx;
	text-align: center;
	position: fixed;
	background-color: black;
	color: white;
	z-index: 520;
	overflow: hidden;
	-webkit-line-clamp: 1;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.vat{
	position: fixed;
	z-index: 520;
	height: 40px;
	box-shadow: 0px 0px 10px #00000020;
	width: 750rpx;
	display: flex;
	line-height: 40px;
	align-items: center;
	justify-content: center;
	background-color: white;
}
.vt{
	margin: 0px 40px 0px 40px;
	font-weight: bold;
}
.vt text{
	position: fixed;
	color: #00000030;
	margin-left: 10rpx;
	font-size: 25rpx;
}

.va{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.taa{
	display: flex;
	flex-direction: row;
	box-shadow: 0px 0px 15px #00000015;
	padding-top: 20rpx;
	border-radius: 20rpx;
	padding-bottom: 20rpx;
	padding-right: 20rpx;
	margin-bottom: 20rpx;
}
.atop{
	margin-bottom: 40rpx;
}
.atap{
	color: #20b0e3;
	font-size: 12px;
	background-color: #00000010;
	padding: 5rpx 10rpx 5rpx 10rpx;
	border-radius: 10rpx;
}
.paName{
	font-weight: bold;
	width: 570rpx;
	display: flex;
	justify-content: space-between;
}
.aimg{
	margin-left: 20rpx;
	width: 80rpx;
	height: 80rpx;
	border-radius: 40rpx;
	margin-right: 20rpx;
}
.imgAPa{
	width: 570rpx;
}
.ctime{
	font-size: 25rpx;
	color: gray;
}
.owntime{
	margin-top: 5rpx;
	font-size: 23rpx;
	color: gray;
}

.like_icon{
	margin-right: 10rpx;
}
.likes{
	color: gray;
}

.pxx{
	width: 710rpx;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 20rpx;
}
.pxx text{
	font-size: 13px;
	color: gray;
	display: block;
	margin-right: 5px;
}
.more_ta{
	background-color: #00000010;
	border-radius: 18rpx;
	margin-top: 10rpx;
	margin-bottom: 10rpx;
	padding: 20rpx;
}
.reply{
	margin-left: 20rpx;
	color: gray;
}
.l_r{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.more_rp{
	position: fixed;
	width: 750rpx;
	background-color: white;
	z-index: 521;
}
.close_more_rp{
	width: 710rpx;
	height: 35px;
	display: flex;
	flex-direction: row;
	padding-right: 20rpx;
	padding-left: 20rpx;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 0px 10px #00000020;
}
.more_rp_list{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
}
.mrp{
	width: 690rpx;
}