.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.player{
	width: 750rpx;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
video{
	width: 100%;
	height: 422rpx;
}

.owner{
	margin-top: 20rpx;
	width: 750rpx;
	display: flex;
	flex-direction: row;
}
.owner image{
	margin-left: 20rpx;
	width: 80rpx;
	height: 80rpx;
	border-radius: 40rpx;
}
.owner_text{
	margin-left: 20rpx;
	width: 610rpx;
	display: flex;
	flex-direction: column;
}
.ownm{
	font-weight: bold;
}